/* pagina de error */
.error-404 img{
    display: block;
    margin: 0 auto;
    width:28rem; 
}

.error-404 h3{
  color:black;
  text-decoration: solid;
  font-style: italic;
}

.error-404 p{
  font-size:20px;
}

.error-404 button{
  display: block;
  margin: 0 auto;
  font-size:18px;
  
}

.error-404 a{
  text-decoration: none;
}

