/* estilos de barra de navegacion de los particpantes*/

 @import url('https://fonts.googleapis.com/css?family=Roboto');

 .navigation {
     height: 55px;
     background: linear-gradient(45deg, #131516, #1c1f20);
}

 .brand {
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}

 .brand a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
}

 .nav-container {
     max-width: 1000px;
     margin: 0 auto;
}

 .navigation nav {
     float: right;
}

 .navigation nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}

.navigation nav ul li {
     float: left;
     position: relative;
}

 .navigation nav ul li a,.navigation nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #3d3d3d ;
     text-decoration: none;
}

 .navigation nav ul li a{
     background: transparent;
     color: #FFF;
}

 .navigation nav ul li a:hover, .navigation nav ul li a:visited:hover {
     background: #2581DC;
     color: #ffffff;
}

 .navbar-dropdown li a{
     background: #2581DC;
}

 .navigation nav ul li a:not(:only-child):after, .navigation nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}

 .navigation nav ul li ul li {
     min-width: 190px;
}

 .navigation nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}

 .navigation .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: linear-gradient(45deg, #131516, #1c1f20);
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}

/* Mobile navigation */
.navigation .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}

 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }

    .navigation nav {
         width: 100%;
         padding: 55px 0 15px;
    }

    .navigation nav ul {
         display: none;
    }

    .navigation nav ul li {
         float: none;
    }

    .navigation nav ul li a {
         padding: 15px;
         line-height: 20px;
         background: #262626;
    }

    .navigation nav ul li ul li a {
         padding-left: 30px;
    }

    .navigation .navbar-dropdown {
         position: static;
    }
}

 @media screen and (min-width:800px) {
    .navigation .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
} 




/* estilo pagina de inicio */
.boton-inicio, .botones-abajo{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.boton-inicio, .botones-abajo:nth-child(1){
    color: #fff;
}


.boton-inicio, .botones-abajo:nth-child(2){
    color: #fffefe;
    background: #fff;
}





.boton-inicio h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

}


.boton-inicio .cards{
    display: flex;
}

.boton-inicio .cards .text-card{
    background: #469bdb;
    margin: 20px;
    padding: 30px;
    font-family: verdana;
    border: 2px solid #3e9acf;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 10px;
}

.boton-inicio .cards .text-card .h3{
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 10px;
}

@media (max-width:900px){
  .boton-inicio h1{
        font-size: 40px;
    }

    .boton-inicio .cards{
        flex-direction: column;
    }
}


.boton-inicio .button1{
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: #2996E9;    
    border: none;
    padding: 50px;
    font-size: 30px;
}



/* borde para las tablas */
.contenedor-tabla{
    border: 1px solid #dddcdc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 10px;
}

/* estilo para alinear los label en los formularios de actualizacion */
div .label-actualizar{ 
    float: left;
    color:black;
  }

/* tamaño de filtro para la tabla */
  #searchBox{
    width:12rem;
  }

 /*  estilo de tabla */
  #datos-usuario {
    width: 100%;
    border-collapse: collapse;
    background-color:white;
}

.contenedor-tabla{
    background-color:white;
}

#datos-usuario th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid rgb(226, 226, 226);
}

/* Agrega un estilo de cebra a las filas de la tabla */
#datos-usuario tr:nth-child(even) {
    background-color: #fafafa;
}

#datos-usuario tr:hover{
    background-color: #9ed2fd;
}



/* estilos cards de vista Usuarios */
.tarjeta-contenedor{
    margin-top: 5rem;
    justify-content: center;
}

.row .container .col .card.row .container .col .card .card-body{
    border-top: 4px solid #017bab;
}

.row .container .col .card .card-title{
    text-align: center;
}

.row .container .col .card .card-text{
    text-align: center

}


/* estilo para el encabezado de los formularios en la parte administrativa */
.nombre-vista{
    margin-left: 9rem;
}

.container h5 a{
    text-decoration: none;
}



/* 
estilos para contenedor de vista Configuracion */
.config-contenedor .col a{
    text-decoration: none;
    color:rgb(26, 26, 26);
    box-shadow: 6px 5px 7px rgba(68, 67, 67, 0.411);
}

.config-contenedor .col a:hover{
    background-color: #4bafd6;
 
}

.config-contenedor .card i{
    font-size:6rem;
    margin:0;
}



/* estilos contenedor de dashboard */
.dashboard-contenedor .card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 3rem;
}

.dashboard-contenedor .card a{
    text-decoration: none;
    color:white;
}


/* estilos de perfil de edicion de usuario */
.perfil-contenedor{
    border: 1px solid rgb(192, 192, 192);
}


/* estilos para carrusel */
.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .carousel__container {
    position: relative;
    width: calc(100% * 4);
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel__container img {
    width: calc(100% / 4);
    height: 100%;
    object-fit: cover;
  }
  
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
  }
  
  .carousel__button--prev {
    left: 0;
  }
  
  .carousel__button--next {
    right: 0;
  }


/*   Estilos para compra de boleto */
.form-boleto{
    width: 25rem;
    height: 24rem;
    background: white;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 10%;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-radius: 15px;
    /* border-top: 4px solid #017bab; */
    color: white;
  }


  .form-boleto h5{

    margin: 0;
    text-align: center;
    height: 40px;
    color: #000;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }

  .form-boleto label{
    text-align: left;
    color: #000;

  }


  .form-boleto .buttons{
    margin-top: 6%;
    width: 100%;
    height: 20%;
    background-color: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 1s;

  }

  .form-boleto .buttons:hover{
    background-color:  #ffa751;
  }


  .form-boleto .imagen-redonda {
    width: 25%;
    height: 40%;
    margin: auto;
    border-radius: 12%;
    overflow: hidden;
    position: relative;
  }

  .form-boleto .imagen-redonda img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }



/*   estilos de footer */
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
    z-index:1;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }


/* Estilos para imagen responsive de inicio */
#inicio .boton-inicio{
  background-image: url('../assets/img/bingo-4472302.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
}

@media only screen and (max-device-width:767px){
    .boton-inicio{
    background-image: url('../vistas/assets/img/Pizza.jpg');
    }
  }

@media only screen and (max-width:767px){
    .boton-inicio{
    background-image: url('../vistas/assets/img/Pizza.jpg');
    }
  }

  #paypal-button-container{
    margin-bottom: 1500px;
  }